@model IEnumerable<Entities.Phone>

@{
    ViewData["Title"] = "Главная - список телефонов";
}


<center>
    <h1>Список телефонов</h1>
</center>
<p>
    <center>
        <a asp-action="Create">Создать новый телефон</a>
    </center>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Короткое описание
            </th>
            <th>
                Длинное описание
            </th>
            <th>
                Адрес
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    &nbsp;&nbsp;  @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    &nbsp;&nbsp;  @Html.DisplayFor(modelItem => item.ShorDesc)
                </td>
                <td>
                    &nbsp;&nbsp;  @Html.DisplayFor(modelItem => item.LongDesc)
                </td>
                <td>
                    &nbsp;&nbsp; @Html.DisplayFor(modelItem => item.Shop.Address)
                </td>
                <td>
                    &nbsp;&nbsp;   @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
